# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# TypeScript
/dist
/tsconfig.tsbuildinfo

# Docker
.docker/

# Ignorar arquivos de configuração sensíveis
.env

# Ignorar arquivos de configuração do IDE
.vscode/
.idea/

# Ignorar arquivos do Next.js (para produção)
.next/

# Ignorar pacotes de dependências gerados automaticamente
package-lock.json
yarn.lock
